#page {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: ". heading ." ". content .";
  margin: 20px;
}


.website-header {
  grid-area: heading;
  font-family: 'Quattrocento', serif;
  font-size: 48pt;
  margin-top: 5px;
  margin-bottom: 30px;
}

#content {
  grid-area: content;
  font-family: 'Quattrocento Sans', sans-serif;
  border-bottom: 1px solid #414141;
  border-top: 1px solid #414141;
  padding: 2em 0px;
  line-height: 22px;
}


.article-date {
  display: inline-block;
  width: 6em;
  text-align: right;
  margin-left: 1em;
  font-size: 11pt;
}

#content > article > ul > li {
  display: flex;
  margin-bottom: 17px;
  justify-content: space-between;
}

#content > article > ul > li > a {
  display: inline-block;
}
