body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
  padding: 1rem;
}

.website-title {
  font-family: 'Medio';
  font-size: 5rem;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Medio', serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  padding-top: 1rem;
}

article h1 {
  border-bottom: solid 1px #414141;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  text-align: right;
}

body article {
  max-width: 40em;
  margin: 0 auto;
}

p {
  margin-bottom: 1em;
  /* line spacing should be 120–145% of the point size. */
  line-height: 1.4rem;
}
