body {
  color: #414141;
  background-color: #EEEEEE;
  font-size: 18px;
  padding: 1rem;
}

.website-title {
  font-family: 'Medio';
  font-size: 5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Medio', serif;
  font-size: 3rem;
}

p {
  margin-bottom: 1em;
}
