.body {
  font-family: 'Open Sans', 'Quattrocento Sans', sans-serif;
  color: #111;
  background-color: #FFFFFF;
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento', serif;
  line-height: 135%;
  text-align: left;
}

p {
  margin-bottom: 1em;
}

h2, h3, h4, h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

pre {
  margin: 2rem 0rem;
}

abstract {
  font-style: normal;
  font-weight: 100;
  line-height: 25px;
}


header {
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: #353535;
}

#page {
  margin: 20px auto;
  padding: 0px 1em;
  max-width: 35em;
  line-height: 170%;
}

#page-index, #blog-post {
  border-bottom: 1px solid #414141;
  border-top: 1px solid #414141;
  padding: 3em 0em;
}

.website-header {
 margin-bottom: 3em;
}


.website-title {
  text-align: center;
  letter-spacing: 0.151rem;
  font-size: 14vw;
}

@media screen and (min-width: 600px) {
  .website-title {
    font-size: 83px;
  }
}

.website-subtitle {
  display: block;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.4rem;

   font-weight: 400;
 font-style: normal;
}

img {
  display: block;
  text-align: center;
  max-width: 90%;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
  margin: 2em auto ;
}
