body {
  color: #414141;
  background-color: #FCFCFC;

  font-family: 'Medio', serif;
  font-size: 20px;
  /* line spacing should be 120–145% of the point size. */
  line-height: 1.4em;

  padding: 1rem;
  padding-bottom: 150px;

  display: flex;
  justify-content: center;
}

.website-title {
  font-family: 'Medio';
  font-size: 5rem;
  text-align: right;
  margin: 2rem 0 3rem 0;
  border-bottom: solid 1px #414141;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Medio', serif;
  font-size: 3rem;
  line-height: 3.6rem;
}

a {
  text-decoration: none;
  color: #353535;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  padding-top: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

article h1 {
  // border-bottom: solid 1px #414141;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  text-align: right;
}

body #page {
  max-width: 40rem;

}

p {
  margin-bottom: 1rem;
}

code {
  margin: 1rem 0;
  font-family: 'FiraMono', monospace;
  font-size: 1rem;
  line-height: 1.4rem;
}

/*TODO*/
article ul {
  list-style: none;
  margin: 1.5rem 0;
}

article ul li:before {
  content: "\279B";
  margin-right: 1em;
}

article ol {
  list-style-type: decimal;
  margin: 1.5rem 0;
}

article li {
  margin-left: 2rem;
  margin-bottom: 0.8em;
}

article blockquote {
  font-style: italic;
  margin: 2rem 0.5rem;
  padding: 1rem;
  border-left: solid 1px #414141;
  background: #F7F7F7;
}

.page-footer {
  border-top: solid 1px #414141;
  padding: 1rem;
}

.page-footer nav {
}

.page-footer nav ul {
  display: flex;
  justify-content: space-around;
}

.page-footer nav ul li {
  font-size: 1.2rem;
  justify-content: center;
  display: flex;
  width: 100%;
}

.article-date {
  margin-top: -0.8rem;
  font-size: 1.07rem;
  display: block;
}

/*
article header h1 {
  margin-top: 150px;
  background-color: #FCFCFC;
  padding: 0 0.5em;
}

article header img {
  width: 100%;
  // height: 224px;
  // clip: rect(0, 2999, 224 ,0);
  clip: rect(0, 2999, 192 ,0);
  opacity: 0.6;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
*/
