@font-face {
  font-family: 'Medio';
  src: url('/fonts/medio.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FiraMono';
  src: url('/fonts/FiraMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: regular;
}

@font-face {
  font-family: 'FiraMono';
  src: url('/fonts/FiraMono-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: 'FiraMono';
  src: url('/fonts/FiraMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

