[:html {:lang "en"}
 [:head
  [:meta {:charset "UTF-8"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]

  [:link {:rel "stylesheet" :href "/css/reset.css"}]

  [:link {:rel "stylesheet" :href "/css/highlightjs/github.css"}]
  [:script {:type "text/javascript" :src "/js/highlight.pack.js"}]

  [:link {:rel "stylesheet" :href "/css/styles.css"}]
  [:link {:rel "stylesheet" :href "/css/tablets.css"}]
  [:link {:rel "stylesheet" :href "/css/blog-post.css"}]

  [:style
   "@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans&display=swap');"]

  [:title "Mein(un)sin"]]

 [:body.body
  [:div#page
   [:header.website-header
    [:h1.website-title [:a {:href "/"} "Mein(un)sin"]]
    [:span.website-subtitle "my (none) sense"]]
   [:div#content]
   [:script {:type "text/javascript"}
    "hljs.initHighlightingOnLoad();"]
   [:footer.page-footer
    [:nav
     [:ul
      [:li ;[:a#footer_nav_previous {:href "/"} "&#8612; previous"]
       ]
      [:li [:a#footer_nav_index {:href "/"} "&#8613; index"]]
      [:li ;[:a#footer_nav_next {:href "/"} "&#8614; next"]
       ]
      ]]]]]]
