[:html {:lang "en"}
 [:head
  [:meta {:charset "UTF-8"}]
  [:link {:rel "stylesheet" :href "/css/reset.css"}]

  ;[:link {:rel "stylesheet" :href "/css/prismjs.css"}]
  ;[:script {:type "text/javascript" :src "/js/prismjs.js"}]
  [:link {:rel "stylesheet" :href "/css/highlightjs/github.css"}]
  [:script {:type "text/javascript" :src "/js/highlight.pack.js"}]

  [:link {:rel "stylesheet" :href "/css/styles.css"}]
  [:link {:rel "stylesheet" :href "/css/typo.css"}]

  [:title "Mein(un)sin"]]

 [:body
  [:div#page
   ;[:header.website-title [:h1 "Mein(un)sin"]]
   [:div#content]
   [:script {:type "text/javascript"}
    "hljs.initHighlightingOnLoad();"]
   [:footer.page-footer
    [:nav
     [:ul
      [:li "&#8612; previous"]
      [:li "&#8613; top"]
      [:li "&#8614; next"]]]]]]]

