[:html {:lang "en"}
 [:head
  [:meta {:charset "UTF-8"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]

  [:link {:rel "stylesheet" :href "/css/reset.css"}]

  [:link {:rel "stylesheet" :href "/css/prismjs.css"}]
  [:script {:type "text/javascript" :src "/js/prismjs.js"}]

  [:style "@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"]
  [:style "@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400"]

  [:link {:rel "stylesheet" :href "/css/styles.css"}]
  [:link {:rel "stylesheet" :href "/css/tablets.css"}]
  [:link {:rel "stylesheet" :href "/css/index.css"}]

  [:title "Mein(un)sin"]]

 [:body.body
  [:div#page
   [:header.website-header
    [:h1#website-title "Mein(un)sin"]
    [:span.website-subtitle "my (non) sense"]]
   [:div#page-index]]]]
